* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 300px;
    background-image: url("images/porsche2.jpg");
    background-repeat: no-repeat;
    background-size: cover;

 }

 #mainHeading {
    color: red;
    text-align: center;
    font-size: 50px;
    font-family:'Courier New', Courier, monospace


 }

 .button:active {
    top:50%;
    background-color: black;
    color: lightgreen;
    transition: 0.2s;
}

#buttonLabel {
    color: lime;
}

#testP {
    text-align: center;
    color: green;
    font-size: xx-large;
}

#factList {
    color: green;
    text-align: center;
}

#greenText {
    color: chartreuse;
}

#author {
    color: chartreuse;
    text-align: center;
    font-family: cursive;
}

#bottomHeading {
    font-weight: 100;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    font:bolder;
}